body{
  background-color: rgb(56, 53, 53);
}

.App {
  text-align: center;
  margin-top: -17px;
  color: white;
}

.App h1{
  border-bottom: 2px solid #ffffff;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 5px;
  display: inline-block;
}

span {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff;
  margin: 5px;
  font-size: 40px;
  text-align: center;
  margin-top: -10px;
  line-height: 50px;
}

input {
  margin-top: 20px;
  font-size: 16px;
  padding: 5px;
}


button {
  padding: 10px 28px;
  text-decoration: none;
  border: 2px solid;
  border-radius: 20px;
  letter-spacing: 2px;
  background-color: transparent;
  color: white;
  position: relative;
  top: 7px;
}

button:hover{
  background-color: white;
  color:black;
}


.correct {
  background-color: #8bc34a; /* Light green */
}

.correct-wrong-position {
  background-color: #ffeb3b; 
}